APP_ENV=development
APP_PORT=3000
PM2_INSTANCES=1

JWT_SECRET=dev-secret-change-me

MYSQL_ROOT_PASSWORD=dev_root_password
MYSQL_DATABASE=web_im_chat_dev
MYSQL_USER=web_im_dev
MYSQL_PASSWORD=web_im_dev_password
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_CHARSET=utf8mb4
MYSQL_COLLATION=utf8mb4_unicode_ci

REDIS_URL=redis://redis:6379
REDIS_KEY_PREFIX=im_dev
MESSAGE_RETENTION_SECONDS=60
MEDIA_CLEANUP_CRON="*/30 * * * * *"
MEDIA_CLEANUP_RUN_ON_START=true
REDIS_APPENDONLY=yes
REDIS_MAXMEMORY_POLICY=noeviction

ENABLE_CALLS=false
NGINX_HTTP_PORT=8080
NGINX_SERVER_NAME=localhost
NGINX_CLIENT_MAX_BODY_SIZE=100m
NGINX_UPLOAD_CACHE_EXPIRES=1m
NGINX_UPLOAD_CACHE_CONTROL=no-cache
NGINX_PROXY_READ_TIMEOUT=300
NGINX_PROXY_SEND_TIMEOUT=300
NGINX_SOCKET_TIMEOUT=86400
